Flask==3.1.1
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
paho-mqtt
kafka-python
python-dotenv
requests
jsonify==0.5
reportlab==4.4.2
pytz==2024.1
pandas==2.3.0
RapidFuzz==3.13.0
PyPDF2==3.0.1
langchain==0.3.26
langchain-core==0.3.66
langchain-google-genai==2.1.5
langchain-huggingface==0.3.0
langchain-openai==0.3.25
langchain-pinecone==0.2.8
langchain-tests==0.3.20
langchain-text-splitters==0.3.8
pymysql
email_validator