<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Link to External CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/medical-check.png') }}"
    />
  </head>
  <body class="bg-gray-100">
    <!-- Sidebar Layout -->

    <div class="flex">
      <!-- Sidebar -->
      <aside
        id="sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-teal-600 text-white"
        aria-label="sidebar"
      >
        <div class="w-64 h-screen flex flex-col transition-all">
          <div class="p-5 text-2xl font-semibold text-center">
            <i class="fas fa-heartbeat"></i> Cardiolytics
          </div>
          <hr class="border-white-200 mx-4" />
          <nav class="flex-1 px-4 space-y-2 mt-4">
            <a
              href="{{ url_for('main.index') }}"
              class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center text-lg"
            >
              <i class="fas fa-home mr-2"></i> Home
            </a>
            <a
              href="{{ url_for('bp_monitor.monitor') }}"
              class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center text-lg"
            >
              <i class="fa-solid fa-desktop mr-2"></i> BP Monitor
            </a>
            <a
              href="{{ url_for('cvd_predict.upload_menu') }}"
              class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center text-lg"
            >
              <i class="fas fa-lungs-virus mr-2"></i> CVD Predict
            </a>
            <a
              href="{{ url_for('cardiobot.chat') }}"
              class="block py-3 px-4 rounded transition duration-200 hover:bg-gray-700 flex items-center text-lg"
            >
              <i class="fa-solid fa-robot mr-2"></i> Cardiobot
            </a>
          </nav>
        </div>
      </aside>

      <!-- Main content -->
      <div class="flex-1 main-content">
        <!-- Added main-content class here -->
        <nav
          class="bg-white border-b border-gray-300 px-8 py-5 flex justify-between items-center"
        >
          <button
            id="toggleSidebar"
            class="text-gray-600 text-2xl focus:outline-none"
          >
            <i class="fas fa-bars"></i>
          </button>
          <span id="navbarTitle" class="text-lg font-semibold">
            {{ navbar_title }}
          </span>
          <div class="flex space-x-4">
            <a href="#" class="text-gray-600 flex items-center">
              <i class="fas fa-user mr-2"></i> Profile
            </a>
            <a href="#" class="text-gray-600 flex items-center">
              <i class="fas fa-sign-out-alt mr-2"></i> Logout
            </a>
          </div>
        </nav>
        <main class="p-8">{% block content %} {% endblock %}</main>
      </div>
    </div>

    <!-- Link to External JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
